@import '../../general';

.docPanel {
  width: 100%;
  overflow-y: scroll;
  margin: 20px;
}

.codePanel {
  white-space: pre-wrap;
  font-size: $sizeDesktopNormal;

  @include _tablet {
    font-size: $sizeMobileNormal;
  }

  @include _mobile {
    font-size: $sizeMobileSmall;
  }
}