@import '../../general';

.paragraph {
  color: $defaultTextColor;
  font-size: $sizeDesctopNormal;
  text-align: center;
  margin: 0 $marginDesktopDiv4;
  padding-bottom: $marginDesktop;

  @include _tablet {
    font-size: $sizeMobileNormal;
    margin-bottom: $marginTablet;
  }
}

.link {
  color: $defaultTextColor;
  font-size: $sizeDesctopNormal;
  text-align: center;

  &:hover {
    color: $highlightedTextColor;
  }

  @include _tablet {
    font-size: $sizeMobileNormal;
    color: $highlightedTextColor;
  }
}
