@import '../../general';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 90px;
  padding: $marginDesktopDiv4 $marginDesktop;
  background-color: $mainColor;

  &.sticky {
    position: fixed;
    height: 70px;
    transition: all 0.3s linear;

    & .logo {
      width: 54px;
      height: 54px;
      margin: 0 $marginDesktopDiv4;
    }    
  }

  & a {
    text-decoration: none;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    scale: .98;
  }
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.logoText {
  color: $defaultHeaderColor;
  font-size: $sizeDesctopBig;
  font-weight: 700;
  margin: $marginDesktopDiv4;
  margin-top: $marginDesktopDiv2;
}

.headerPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 600px;
}

.languageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  color: $defaultHeaderColor;
  background-color: transparent;
  font-size: $sizeDesctopNormal;
  border: 0;
  border: 1px solid $defaultHeaderColor;
  border-right: 0px;
  padding: 3px $marginDesktopDiv2;
  margin: 0;

  &:focus {
    outline: none;
  }

  &.selected {
    color: $mainColor;
    background-color: $defaultHeaderColor;
    font-weight: 600;
  }

  &.first {
    border-radius: $marginDesktopDiv4 0 0 $marginDesktopDiv4;
  }

  &.last {
    border-radius: 0 $marginDesktopDiv4 $marginDesktopDiv4 0;
    border-right: 1px solid $defaultHeaderColor;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton {
  @include _button;
  color: $defaultHeaderColor;
  font-size: $sizeDesctopNormal;
  padding: 3px $marginDesktopDiv2;
  border: 1px solid $defaultHeaderColor;
  border-radius: $marginDesktopDiv4;

  &:hover {
    cursor: pointer;
    font-weight: 500;
    border: 1px solid $defaultHeaderColor;
    color: $mainColor;
    background-color: $defaultHeaderColor;
  }
}

// delete next
