@import '../../general';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 90px;
  padding: $marginDesktopDiv4 $marginDesktop;
  background-color: $mainColor;

  &.sticky {
    position: fixed;
    height: 70px;
    transition: all 0.3s linear;

    & .logo {
      width: 54px;
      height: 54px;
      margin: 0 $marginDesktopDiv4;

      @include _tablet {
        margin: 0;
      }
    }
  }

  & a {
    text-decoration: none;
  }

  @include _tablet {
    padding: $marginDesktopDiv4 $marginDesktopDiv2;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    scale: 0.98;

    @include _tablet {
      scale: 1;
    }
  }
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  @include _tablet {
    width: 55px;
    height: 55px;
  }
}

.logoText {
  color: $defaultHeaderColor;
  font-size: $sizeDesctopBig;
  font-weight: 700;
  margin: $marginDesktopDiv4;
  margin-top: $marginDesktopDiv2;

  @include _tablet {
    font-size: $sizeMobileBig;
  }

  @include _mobile {
    font-size: $sizeMobileNormal;
  }

  @media (max-width: 639.98px) {
    width: min-content;
  }

  @media (max-width: 479.98px) {
    display: none;
  }
}

.headerPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 600px;

  @include _tablet {
    min-width: 400px;
  }

  @include _mobile {
    min-width: 0px;
    margin-left: $marginDesktopDiv2;
    flex-grow: 1;
  }
}

.languageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  @include _mobile {
    margin: 0 auto;
  }
}

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  color: $defaultHeaderColor;
  background-color: transparent;
  font-size: $sizeDesctopNormal;
  border: 0;
  border: 1px solid $defaultHeaderColor;
  border-right: 0px;
  padding: 3px $marginDesktopDiv2;
  margin: 0;

  &:focus {
    outline: none;
  }

  &.selected {
    color: $mainColor;
    background-color: $defaultHeaderColor;
    font-weight: 600;
  }

  &.first {
    border-radius: $marginDesktopDiv4 0 0 $marginDesktopDiv4;
  }

  &.last {
    border-radius: 0 $marginDesktopDiv4 $marginDesktopDiv4 0;
    border-right: 1px solid $defaultHeaderColor;
  }

  @include _tablet {
    font-size: $sizeMobileNormal;
    width: 50px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $defaultHeaderColor;
  background-color: transparent;
  font-size: $sizeDesctopNormal;
  border: 0;
  border: 1px solid $defaultHeaderColor;
  border-radius: $marginDesktopDiv4;
  padding: 3px $marginDesktopDiv2;
  margin: $marginDesktopDiv4;

  &:hover {
    cursor: pointer;
    border: 1px solid $defaultHeaderColor;
    color: $mainColor;
    background-color: $defaultHeaderColor;
  }

  @include _tablet {
    font-size: $sizeMobileNormal;
    color: $mainColor;
    background-color: $defaultHeaderColor;
    font-weight: 500;
  }

  @media (max-width: 639.98px) {
    display: none;
  }
}

.iconButton {
  display: none;
  justify-content: center;
  align-items: center;
  color: transparent;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 24px;
  margin-right: 0;

  @media (max-width: 639.98px) {
    display: flex;
  }

  @media (max-width: 479.98px) {
    margin: $marginDesktopDiv2;
    margin-right: 0;
  }
}

.icon {
  width: 35px;
}
