@import '../../general';

.wrapper {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  padding-top: calc(90px);
  margin: 0 auto;

  @include _mobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

.apiSection {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: $marginDesktopDiv2;
  margin: 0 auto;

  @include _mobile {
    grid-column: 1 / 2;
    padding: $marginDesktopDiv4;
  }
}

.url_input {
  display: block;
  width: 800px;
  text-align: center;
  font-size: $sizeDesktopNormal;
  color: $defaultTextColor;
  border: 0;
  border: 1px solid $defaultTextColor;
  border-radius: $marginDesktopDiv4;
  margin: $marginDesktopDiv4;
  outline: none;

  &.error {
    background-color: rgba($color: crimson, $alpha: .25)
  }

  @include _tablet {
    width: 450px;
    font-size: $sizeMobileNormal;
    margin: $marginDesktopDiv4 0;
  }

  @include _mobile {
    width: 300px;
    font-size: $sizeMobileNormal;
  }
}

.url_button {
  @include _graphQLButtons;

  @include _tablet {
    font-size: $sizeMobileNormal;
    color: white;
    background-color: $defaultTextColor;

    &:hover {
      scale: 1;
    }
  }
}

.docs {
  margin: $marginDesktop;
  font-size: $sizeDesktopNormal;
  
}

.query {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  min-height: 100%;
  margin-left: $marginDesktopDiv2;
  border-right: 1px solid rgba($color: $disabledTextColor, $alpha: .3);

  @include _mobile {
    margin-left: 0;
  }
}

.query_button {
  @include _graphQLButtons;
  max-width: min-content;
  margin-right: $marginDesktop;
  font-size: $sizeMobileNormal;

  @include _tablet {
    margin-right: $marginDesktopDiv2;
  }
}

.query_input {
  grid-column: 1 / 3;
  display: flex;
  color: $defaultTextColor;
  outline: none;
  font-size: $sizeDesktopSmall;
  border: 0;
  padding: $marginDesktopDiv4 $marginDesktopDiv2;
  
  min-width: 200px;
  
  @include _mobile {
    padding: $marginDesktopDiv4;
  }
}

.requestImg {
  width: 20px;
}

.response {
  color: $defaultTextColor;
  font-size: $sizeDesktopSmall;
  padding: $marginDesktopDiv4 $marginDesktopDiv2;
  white-space: pre-wrap;

  &.error {
    color: FireBrick;
  }
}
