@import '../../../general';

.label {
  display: block;
  font-size: $sizeDesktopNormal;
  text-align: center;
  color: $defaultTextColor;
  margin-bottom: $marginDesktopDiv4;

  @include _mobile {
    font-size: $sizeMobileNormal;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 220px;
  min-height: 35px;
  text-align: center;
  color: rgb(50, 57, 64);
  font-size: $sizeDesktopNormal;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid cornflowerblue;
  margin: auto;

  &:focus {
    border: 0px;
    outline: 0;
    border-bottom: 2px solid royalblue;
  }

  @include _mobile {
    font-size: $sizeMobileNormal;
  }
}

.imgContainer {
  width: 0px;
}

.imgButton {
  position: relative;
  right: 40px;
  padding: 0;
  background: transparent;
  border: 0px;
}

.img {
  width: 20px;

  &:focus {
    cursor: pointer;
  }
}

.errorMessage {
  text-align: center;
  color: crimson;
  font-size: $sizeDesktopSmall;
  min-height: 24px;

  @include _mobile {
    font-size: $sizeMobileSmall;
    margin-bottom: 0;
  }
}
