@import '../../general';

.footer {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: $mainColor;
  padding: $marginDesktopDiv2 $marginDesktop;
}

.gitText {
  margin-left: 5px;
}

.rssLogo {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.year {
  width: 30%;
}

.red {
  background-color: red;
}