@import '../../general';

.topMargin {
  height: calc(90px);
}

.mainHeader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: $sizeDesktopHeader;
  font-weight: 700;
  color: $defaultTextColor;
  text-align: center;
  margin: $marginDesktop;
  margin-bottom: $marginDesktopDiv2;

  @include _tablet {
    font-size: $sizeMobileHeader;
    margin: $marginDesktopDiv2;
    margin-bottom: $marginDesktopDiv4;
  }
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph {
  font-size: $sizeDesktopNormal;
  color: $defaultTextColor;
  text-align: center;
  white-space: break-word;
  margin: $marginDesktopDiv4;

  @include _tablet {
    font-size: $sizeMobileNormal;
  }
}

.techs {
  margin: $marginDesktop;

  @include _tablet {
    margin: $marginDesktopDiv2;
  }
}

.header {
  font-size: $sizeDesktopBig;
  font-weight: 700;
  color: $defaultTextColor;
  text-align: center;
  margin-bottom: $marginDesktopDiv2;

  @include _tablet {
    font-size: $sizeMobileBig;
    margin-bottom: $marginDesktopDiv4;
  }
}

.list {
  font-size: $sizeDesktopNormal;
  color: $defaultTextColor;
  text-align: center;
  margin: 0 auto;
  margin-bottom: $marginDesktopDiv4;

  @include _tablet {
    font-size: $sizeMobileNormal;
  }

  @include _mobile {
    margin-bottom: 2px;
  }
}

.linkBlock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.links {
  color: $defaultTextColor;
  font-size: $sizeDesktopNormal;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  @include _hover {
    cursor: pointer;
    color: $highlightedTextColor;
  }

  @include _tablet {
    font-size: $sizeMobileNormal;
  }
}

.developersBlock {
  margin: $marginDesktop $marginDesktopDiv4;

  @include _mobile {
    margin: $marginDesktopDiv2 $marginDesktopDiv4;
  }
}

.developers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.member {
  margin: $marginDesktop;
  width: 300px;

  @include _tablet {
    margin: $marginDesktopDiv2;
  }

  @include _mobile {
    margin: $marginDesktopDiv4;
  }
}

.photo {
  display: block;
  width: 250px;
  border-radius: 250px;
  margin: 0 auto;
  margin-bottom: $marginDesktopDiv2;

  @include _hover {
    transform: scale(1.02);
  }
}

.icon {
  width: 25px;
  height: 25px;
  margin: auto $marginDesktopDiv4;
}

.iconContainer {
  display: flex;
  justify-content: center;
  position: relative;
  right: 20px;
  margin: $marginDesktopDiv2;

  @include _hover {
    .icon {
      animation-duration: 0.5s;
      animation-name: iconHover;
      animation-iteration-count: 1;
    }

    .links {
      color: $highlightedTextColor;
    }
  }
}

@keyframes iconHover {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
